<h1>Editar Livro</h1>

<%= render 'form' %>

<br>

<%= link_to 'Show', @book, class:  "btn btn-primary btn-lg btn-block" %> |
<%= link_to 'Back', books_path , class:  "btn btn-primary btn-lg btn-block" %>
